body.dark-mode, 
body.dark-mode main *,
.dark-mode #head,
.dark-mode .navbar-default,
.dark-mode .navbar-default .navbar-nav > li > a,
.dark-mode .navbar-default .navbar-nav > li > a:hover, 
.dark-mode .navbar-default .navbar-nav > li > a:focus,
.dark-mode .language-switcher a {
    background: rgb(45, 45, 45);
    color: #f5f5f5;
}

body.dark-mode a {
    color: #bd1550;
}

body.dark-mode #head .title {
    color: #f5f5f5;
}

body.dark-mode .navbar-default .navbar-toggle{
    background-color: rgb(45, 45, 45);
}

body.dark-mode .navbar-default .navbar-toggle .icon-bar {
    background: #666;
}

body.dark-mode .section-title a, body.dark-mode .entry-title a {
    color: #f5f5f5;
}

body.dark-mode .section-title a:hover, body.dark-mode .entry-title a:hover {
    color: #bd1550;
    opacity: .7;
}

.dark-mode .language-switcher a:hover {
    color: #800000;
}

body.dark-mode pre, body.dark-mode pre span, body.dark-mode code {

    background: rgb(0,0,0) !important;

}

.dark-mode .pagination > li.active > a {
    color: #800;
}

.dark-mode .pagination > li.active > a:hover {
    color: #800;
    background: none;
}

.dark-mode .pagination > .disabled > span, 
.dark-mode .pagination > .disabled > a, 
.dark-mode .pagination > .disabled > a:hover, 
.dark-mode .pagination > .disabled > a:focus {
    color: #999;
    cursor: not-allowed;
    background-color: transparent;
    border-color: #ddd;
}

.dark-mode .pagination > li > a:hover {
    color: #800;
    background: none;
}